@model SomerenWebApp.Models.Activity

@{
	ViewData["Title"] = "Edit Activity";
}

<h4>Edit Activity</h4>

<form action="/Activities/Edit" method="post">
	<input hidden type="number" name="ActivityId" value="@Model?.ActivityId" />

	<div class="form-group py-2">
		<label for="Name">Name:</label>
		<input type="text" id="Name" name="ActivityName" class="form-control" required value="@Model?.ActivityName" />
	</div>

	<div class="form-group py-2">
		<label for="Date">Date:</label>
		<input type="datetime" id="Date" name="Date" class="form-control" required value="@Model?.Date" />
	</div>

	
	<button type="submit" class="btn btn-primary">Edit</button>
</form>

<a href="/Students/Index">Back to List</a>
