@model SomerenWebApp.Models.Student

@{
	ViewData["Title"] = "Delete Student";
}

<h4>Delete Student</h4>

<form action="/Students/Delete" method="post">
	<input hidden type="number" name="StudentNum" value="@Model?.StudentNum" />

	<a>Are you sure you want to delete student:</a>

	<div class="form-group py-2">
		<a>@Model?.FullName</a>
	</div>

	<button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="/Students/Index">Back to List</a>
