@{
    ViewData["Title"] = "Home Page";
}

<div class="controller_body">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Someren Project</h1>
        <p>Here you will be able to view all the students, teachers and activities during their short stay in Someren.</p>
    </div>
</div>
