@model SomerenWebApp.Models.Order

@{
    ViewData["Title"] = "Confirm Order";
    string studentName = ViewBag.StudentName;
    string drinkName = ViewBag.DrinkName;
    decimal price = ViewBag.Price;
}

<div class="controller_body">
    <h1 class="display-4 text-center">Confirm Order</h1>

    <dl class="row">
        <dt class="col-sm-3">Student</dt>
        <dd class="col-sm-9">@studentName (@Model.StudentNumber)</dd>

        <dt class="col-sm-3">Drink</dt>
        <dd class="col-sm-9">@drinkName</dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">€@price.ToString("0.00")</dd>

        

        
    </dl>

    <form asp-action="CreateConfirmed" method="post">
        <input type="hidden" asp-for="StudentNumber" />
        <input type="hidden" asp-for="DrinkID" />
        <button type="submit" class="btn btn-success">Confirm</button>
        <a href="/Order/Create" class="btn btn-secondary">Go Back</a>
    </form>
</div>
